@model StepCourseProject.Models.RegisterVM

@{
    ViewData["Title"] = "Register";
}

@*<h1>Register</h1>

    <h4>RegisterVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="radio" name="selectedRole" id="selecetdRole" value="Freelancer" /> <label>Freelancer</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="selectedRole" id="selecetdRole" value="Client" /> <label>Client</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form asp-action="Register" class="user">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" asp-for="UserName" placeholder="User Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" asp-for="FirstNameLastName" placeholder=" First Name/Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" asp-for="Email" placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" asp-for="Password" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" asp-for="RepeatPassword" placeholder="Repeat Password">

                                </div>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="selectedRole" name="selectedRole" value="Freelancer">
                                <label class="form-check-label" for="selectedRole">Freelancer</label>
                            </div>

                            <!-- Material checked -->
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="selectedRole" name="selectedRole" value="Client" checked>
                                <label class="form-check-label" for="selectedRole">Client</label>
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Registration Now" />
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

